<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="views/snap/snap.css">
    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="angularjs/angular.js"></script>
<script src="//cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="views/snap/snap.js"></script>
    <script type="text/javascript" src="views/snap/snap.controller.js"></script>
    <script type="text/javascript" src="views/navbar/navbar.controller.js"></script>
</head>

<body ng-app="mainApp" ng-controller="snapCtrl as snapCtrl">
<div ng-include="'views/navbar/navbar.html'"></div>

    <div id="drag-1" class="draggable">
      <p> You can drag one element </p>
    </div>
    <div id="drag-2" class="draggable">
        <p> with each pointer </p>
    </div>

    <div class="draggable">
        <img src="{{snapCtrl.imagesPath}}{{snapCtrl.colOneImages[0]}}" \>
    </div>

    <ul class="list-unstyled" ng-repeat="image in snapCtrl.colOneImages">
        <li>
            <div class="draggable list-item">
                <img src="{{snapCtrl.imagesPath}}{{image}}" class="dragable"/>
            </div>
        </li>
    </ul>

</body>

</html>
