<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="angularjs/angular.js"></script>

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="views/quotes/quotes.controller.js"></script>
    <script type="text/javascript" src="views/navbar/navbar.controller.js"></script>
</head>

<body ng-app="mainApp" ng-controller="quotesCtrl as quotesCtrl">
<div ng-include="'views/navbar/navbar.html'"></div>

<div id=quotes>
    <p>"My feet smell pleasant today!" - Henry"</p>
    <p>"You guys need to start saying amusing shit... I can't be the only one" - Henry</p>
</div>

</body>

</html>
